.App {
  align-items: center;
  background-image: url("./bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  justify-content: center;
  padding: 0 0.5em;
  text-align: center;
}

.App-icon {
  height: 28vh;
  margin-top: 10vh;
}

.App-logo {
  width: 90vw;
}

.App-social-networks {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-social-networks li {
  padding-right: 1em;
}

.App-social-networks img {
  width: 58px;
  height: 58px;
}

.App footer {
  justify-self: flex-end;
  margin-top: auto;
}

.App a {
  color: #61dafb;
}
